div.videoPlayerContainer {
   filter: brightness(0.4) !important;
   object-fit: cover;
}

body:not(.hide-scroll) > div.videoPlayerContainer {
   object-fit: cover;
   filter: brightness(0.4) !important;
}
